.games-header {
    font-size: 45pt;
    margin: 80px auto 20px auto;
    border-top: solid 4px black;
}

.games-list-container {
    width: 65%;
    margin: 0px auto 40px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

@media screen and (max-width: 768px) {
    .games-list-container {
        width: 90%;
    }
    .games-card {
        width: 100px;
        height: 100px;
        font-size: 10pt;
    }
}

/* Home games */
.games-card {
    text-decoration: none;
    background: #782f40;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    transition: ease-out .3s;
}
.games-card:hover {
    transform: translateY(-15px);
}

.games-card-opponent {
    color: #ceb888;
    text-align: center;
    margin: 15px;
    font-size: 20pt;
    border-bottom: 2px solid #4b1d28;
}

.games-card-date {
    font-size: 12pt;
}

.games-card-stats {
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16pt;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}

/* Performance cards */
.player-page-container {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.player-page-name {
    font-size: 42pt;
    text-align: center;
}

.player-details-container {
    
}

.player-details-header {
    font-size: 20pt;
    text-align: center;
}

.player-details {
    text-align: center;
}

.player-performances-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.player-performance-card:hover {
    transform: translateY(-15px);
}

.player-performance-card {
    text-decoration: none;
    background: #782f40;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    transition: ease-out 0.3s;

}

.performance-game-label {
    color: #ceb888;
    text-align: center;
    margin: 15px;
    font-size: 20pt;
    border-bottom: 2px solid #4b1d28;
}

.game-date-label {
    font-size: 12pt;
}

.performance-stats-container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16pt;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}

.performances-header {
    padding-top: 30px;
    width: 100%;
    font-size: 28pt;
    text-decoration: underline;
    text-align: left;
}