.row {
    min-height: 100px;
    width: 80%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.padding-row {
    min-height: 100px;
}

.box {
    text-align: center;
    max-width: 33%;
    margin-bottom: 15px;
}

#title-box {
    max-width: 100%;
}

/* Main image */
#main-image-box {
    position: relative;
}

#main-image-box::after, #main-image-box::before {
    position: absolute;
    content: '';
    background-image: linear-gradient(180deg,#964356, #782f40, #111 120%);

    border-radius: 20px;
    width: 500px;
    height: 300px;
    left:-25px;
    top:-25px;
    z-index: -2;
}

/* #main-image-box::before {
    border-color: #782f40;
    filter: blur(2rem);
} */



.main-image-container {
    height: auto;
    width: 450px;
    position: relative;
}

.main-image-container::before {
    position: absolute;
    content: '';
    width: 510px;
    height: 310px;
    left: -30px;
    top: -30px;
    border-radius: 20px;
    background: conic-gradient(from 45deg, #ceb888,#706042, #ceb888,#706042, #ceb888);
    z-index: -2;
    box-shadow: 5px 5px 10px #782f40;
}

.main-image-container::after {
    content: '';
    position: absolute;
    left: -10%;
    bottom:0;
    width:120%;
    height: 40px;
    background: radial-gradient(rgba(0,0,0,.6),rgba(0,0,0,.4), rgba(0,0,0,0) 65%);
    z-index: -1;
}

/* end main image */

/* home page title */
.home-title {
    font-size:54pt;
    position: relative;
    color: #ceb888;
    text-shadow: 3px 3px 5px #782f40;
}

/* .home-title::after{
    content:'FLORIDA STATE';
    position: absolute;
    top: 2px;
    left: 3px;
    text-wrap: nowrap;
    font-weight: bolder;
    color:#782f40;
    text-shadow: 2px 2px 5px #782f40;
    z-index: -1;
} */

.home-subtitle {
    font-size: 28pt;
}
/* end home page title */

/* home section header */

.section-header {
    padding-bottom: 10px;
    margin-top: 50px;
    margin-right: 100px;
    border-top: 2px solid #d2d2d2;
    width: 70%;
    font-size: 28pt;
}

.stat-leader-name {
    text-align: center;
    margin: 15px;
    border-bottom: 2px solid white;
}

.gb-stat-disclaimer {
    font-size: 10pt;
    font-style: italic;
    margin-top: -10px;
}

@media screen and (max-width: 500px) {
    .stat-leader-name {
        font-size: 20pt;
    }
    .home-title {
        font-size: 42pt;
    }
    .home-subtitle {
        font-size: 18pt;
    }
    .padding-row {
        min-height: 50px;
    }
    .section-header {
        font-size: 18pt;
    }
    .gb-stat-disclaimer {
        font-size: 6pt;
    }
}


@media screen and (max-width: 768px){
    .row {
        width: 90%;
    }   

}
@media screen and (max-width: 480px){
    .row {
        width: 90%;
    }   

    #main-image-box {
        opacity: 0;
        scale: 0;
        height: 0;
    }

    .box {
        max-width: 65%;
    }
}