/* Player list css */
.page-title-label {
    color: black;
    font-size: 45pt;
    text-align: center;
    margin-bottom: 15px;
    border-top: solid 4px black;
}

.player-list-container {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

.player-card-link {
    width: 100%;
}

.player-card {
    scale: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #AAA;
    margin: 10px;
    border-radius: 15px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.5);
    transition: 0.3s;
}

.player-card:hover {
    scale: 105%;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.5);
    background-color: #CCC;
}

.player-name-label,
.player-number-label,
.player-wins-label,
.player-losses-label,
.player-percent-label,
.player-gb-label,
.player-link-container{
    width: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 18pt;
}

/* .player-name-label{
    
} */
.player-number-label{
    width: 50px;
}
/* .player-wins-label{

}
.player-losses-label{

}
.player-percent-label{

}
.player-gb-label{

} */
.player-link-container{
    width: 50px;
    font-size: 24pt;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-link-container:hover {
    font-size: 28pt;
}

a {
    color:black;
}

/* Player details page css */

.player-page-container {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.player-page-name {
    font-size: 42pt;
}

.player-details-container {
    
}

.player-details-header {
    font-size: 20pt;
    text-align: center;
}

.player-details {
    text-align: center;
}

.player-performances-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.player-performance-card {
    text-decoration: none;
    background: #782f40;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    transition: ease-out 0.3s;
}

.player-performance-card:hover {
    transform: translateY(-15px);
}

.performance-game-label {
    color: #ceb888;
    text-align: center;
    margin: 15px;
    font-size: 20pt;
    border-bottom: 2px solid #4b1d28;
}

.game-date-label {
    font-size: 12pt;
}

.performance-stats-container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16pt;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}

.performances-header {
    padding-top: 30px;
    width: 100%;
    font-size: 28pt;
    text-decoration: underline;
    text-align: left;
}