.head-title {
    font-weight: bold;
    font-size: 20pt;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.header-bar-container {
    display: flex;
    height: 150px;
    width: 80%;
    justify-content: center;
}

.header-boxes {
    font-size: 18pt;
    width: 200px;
    position: relative;


    flex-grow: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* header box for logo image */
#header-logo {
    flex-grow: 1;
    padding-left: 5%;
}

.header-logo-img {
    width: auto;
    height: 100%;
    
}

.nav-item {
    text-decoration: none;
    color: black;
}

.nav-item.active {
    text-decoration: underline;
}

